[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
polars = "*"
python-dotenv = "*"
ipykernel = "*"
langchain-openai = "*"
eralchemy = "*"
retry = "*"
neo4j = "*"
black = "*"
pydantic = "*"
fastapi = "*"
uvicorn = "*"
asyncio = "*"
langchainhub = "*"

[dev-packages]

[requires]
python_version = "3.10"
